<div class="footer py-4">
  <div class="d-md-flex container">
    <div class="col-md-3">
      <div class="footer-title">RESOURCES</div>
      <div class="mt-2">
        <div class="footer-menu-item py-2">About</div>
        <div class="footer-menu-item py-2">Resource listing</div>
        <div class="footer-menu-item py-2">Press kit</div>
        <div class="footer-menu-item py-2">Blog</div>
        <div class="footer-menu-item py-2">Usage analytics</div>
      </div>
    </div>
    <div class="col-md-3 mt-md-0 mt-4">
      <div class="footer-title">HELP</div>
      <div class="mt-2">
        <div class="footer-menu-item py-2">Stack Overflow</div>
        <div class="footer-menu-item py-2">Join Discord</div>
        <div class="footer-menu-item py-2">Gitter</div>
        <div class="footer-menu-item py-2">Report Issues</div>
        <div class="footer-menu-item py-2">Code of Conduct</div>
      </div>
    </div>
    <div class="col-md-3 mt-md-0 mt-4">
      <div class="footer-title">COMMUNITY</div>
      <div class="mt-2">
        <div class="footer-menu-item py-2">Events</div>
        <div class="footer-menu-item py-2">Meetups</div>
        <div class="footer-menu-item py-2">Twitter</div>
        <div class="footer-menu-item py-2">GitHub</div>
        <div class="footer-menu-item py-2">Contribute</div>
      </div>
    </div>
    <div class="col-md-3 mt-md-0 mt-4">
      <div class="footer-title">Follow Us</div>
      <div class="d-flex mt-2">
        <fa-icon [icon]="['fab', 'facebook']" class="footer-icon"></fa-icon>
        <fa-icon [icon]="['fab', 'twitter']" class="footer-icon"></fa-icon>
        <fa-icon [icon]="['fab', 'instagram']" class="footer-icon"></fa-icon>
        <fa-icon [icon]="['fab', 'linkedin']" class="footer-icon"></fa-icon>
      </div>
    </div>
  </div>
</div>
