.footer {
    background-color: var(--footer-bg);

    &-title {
        color: var(--text-color);
        font-weight: bold;
    }

    &-icon {
        color: var(--text-color);
        margin-left: 1.5rem;
        font-size: 25px;
        cursor: pointer;

        &:first-child {
            margin-left: 0;
        }
    }

    &-menu-item {
        color: var(--text-color);
        cursor: pointer;
    }
}