/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  --bg-color: #fff;
  --text-color: #212529;
  --footer-bg: #F8F9FA;
}
body.dark-theme {
  --bg-color: #212529;
  --text-color: #fff;
  --footer-bg: #2B3035;
}

p {
  color: var(--text-color);
}